<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Aheader</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/main.css">
   <link rel="stylesheet" href="css/media-queries.css">         

   <!-- Script
   =================================================== -->
	<script src="js/modernizr.js"></script>

   <!-- Favicons
	=================================================== -->
	<link rel="shortcut icon" href="favicon.png" >

</head>

<body class="homepage">

   <div id="preloader"> 
	   <div id="status">
         <img src="images/loader.gif" height="60" width="60" alt="">
         <div class="loader">Loading...</div>
      </div>
   </div>
   

   <!-- Header
   =================================================== -->
   <header id="main-header">

   	<div class="row header-inner">


    	  <!--
          	<div class="logo">
	         <a class="smoothscroll" href="#">Aheader</a>
	        </div>
          -->

	      <nav id="nav-wrap">         
	         
	         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
	         	<span class='menu-text'>Show Menu</span>
	         	<span class="menu-icon"></span>
	         </a>
         	<a class="mobile-btn" href="#" title="Hide navigation">
         		<span class='menu-text'>Hide Menu</span>
         		<span class="menu-icon"></span>
         	</a>         

	         <ul id="nav" class="nav">
	            <li class="current"><a class="smoothscroll" href="#hero">Home.</a></li>
		         <li><a class="smoothscroll" href="#portfolio">Dynamic.</a></li>
	            <li><a class="smoothscroll" href="#journal">Blog.</a></li>
	         </ul> 

	      </nav> <!-- /nav-wrap -->	      

	   </div> <!-- /header-inner -->

   </header> 


   <!-- Page Title
   ================================================== -->
   <section id="page-title">	
   	  
		<div class="row">

			<div class="twelve columns">

				<h1>LOGIN&REGISTER PAGE<span>.</span></h1>
				<p>留下精彩，分享感动.</p>

			</div>			    

		</div> <!-- /row -->	   

   </section> <!-- /page-title -->


   <!-- Content
   ================================================== -->
   <section id="content">

   	<div class="row">

	   	<div id="main" class="tab-whole eight columns">

	        
				<div id="comments">

	            <!-- respond -->
	            <div class="respond">

	               <h3>REGISTER:</h3>

	               <!-- form -->
	               <form action="" method="post" id="contactForm" name="contactForm">
	  					<fieldset>

	                  <div class="group">
	  						   <label for="cName">Name <span class="required">*</span></label>
	  						   <input type="text" value="" size="35" id="cName" name="cName">
	                  </div>

	                  <div class="group">
	  						   <label for="cEmail">Email <span class="required">*</span></label>
	  						   <input type="text" value="" size="35" id="cEmail" name="cEmail">
	                  </div>

	                  <div class="group">
	  						   <label for="cWebsite">QQ Number</label>
	  						   <input type="text" value="" size="35" id="cWebsite" name="cWebsite">
	                  </div>

	                  <div class="message group">
	                     <label for="cMessage">Introduction <span class="required">*</span></label>
	                     <textarea cols="50" rows="10" id="cMessage" name="cMessage"></textarea>
	                  </div>

	                  <button class="stroke medium" type="submit">Submit</button>

	  					</fieldset>
	  				   </form> <!-- /contactForm -->

	            </div> <!-- /respond -->

         	</div> <!-- /comments -->							   
	         
	   	</div> <!-- /main -->  

	      <div class="tab-whole four columns end" id="secondary">
				
				<aside id="sidebar">

	            <div class="widget widget_search">

	               <h5>Search</h5>
	               <form action="#">

	                  <input type="text" value="Search here..." onblur="if(this.value == '') { this.value = 'Search here...'; }" onfocus="if (this.value == 'Search here...') { this.value = ''; }" class="text-search" kl_virtual_keyboard_secure_input="on">
	                  <input type="submit" value="" class="submit-search">

	               </form>

	            </div> <!-- /widget_search -->

	            <div class="widget widget_text">

	               <h5 class="widget-title">Text Widget</h5>
	               <div class="textwidget">（暂无）
	            	</div>

			      </div> <!-- /widget_text -->

	            <div class="widget widget_categories">

	               <h5 class="widget-title">Categories</h5>
	               <ul class="link-list group">
	               	<li><a href="blog.html">All</a></li>
	                  <li><a href="#">Designs</a></li>
	                  <li><a href="#">Internet</a></li>
	                  <li><a href="#">Typography</a></li>
	                  <li><a href="#">Photography</a></li>
	                  <li><a href="#">Web Development</a></li>
	                  <li><a href="#">Projects</a></li>
	                  <li><a href="#">Other Stuff</a></li>
	               </ul>

	            </div> <!-- /widget_categories -->

	            <div class="widget widget_tag_cloud group">

	               <h5 class="widget-title">Tags</h5>
	               <div class="tagcloud group">
	                  <a href="#">drupal</a>
	                  <a href="#">joomla</a>
	                  <a href="#">ghost</a>
	                  <a href="#">wordpress</a>
	                  <a href="#">magento</a>
	                  <a href="#">tumblr</a>
	               </div>

	            </div> <!-- /widget_tag_cloud -->

	            <div class="widget widget_photostream">

	               <h5>Photostream</h5>
	               <ul class="photostream group">
	                  <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
	                  <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
	                  <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
	                  <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
	                  <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
	                  <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
	                  <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
	                  <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
	               </ul>

		         </div> <!-- /widget_photostream -->

	         </aside> <!-- /sidebar -->	            

	      </div> <!-- /secondary -->

	   </div> <!-- /row -->      

   </section> <!-- /content -->  


   <!-- Footer
   ================================================== -->
   <footer>

      <div class="row">       

         <div class="six columns tab-whole footer-about">
				
				<h3>About Aheader</h3>
               
            <p>利用Django框架做成，基于styleout这个网站的代码进行了大幅度的更改
            </p>

            <p>新年上线，真的是很麻烦呢，搞一个个人主页</p>        

         </div> <!-- /footer-about -->

         <div class="six columns tab-whole right-cols">

            <div class="row">

               <div class="columns">
                  <h3 class="address">Contact Me</h3>
                  <p>
                  	华中科技大学 沁苑 东十510<br>
                  	湖北省 武汉市 武昌区 <br>
                  430074 China
                  </p>

                  <ul>
                    <li><a href="#">574515814@qq.com</a></li>
                  </ul>                  
               </div> <!-- /columns -->             

               <div class="columns last">
                  <h3 class="contact">Follow Me</h3>

                  <ul>
                     <li><a href="https://www.facebook.com/">Facebook</a></li>
                     <li><a href="https://twitter.com/">Twitter</a></li>
                     <li><a href="https://plus.google.com/">GooglePlus</a></li>
                     <li><a href="http://tieba.baidu.com/">百度贴吧</a></li>
                  </ul>
                  
               </div> <!-- /columns --> 

            </div> <!-- /Row(nested) -->

         </div>

         <p class="copyright">&copy; Copyright 2015 Aheader. Design by <a href="http://user.qzone.qq.com/574514814/">透指风</a></p>        

         <div id="go-top">
            <a class="smoothscroll" title="Back to Top" href="#hero"><span>Top</span><i class="fa fa-long-arrow-up"></i></a>
         </div>

      </div> <!-- /row -->

   </footer> <!-- /footer -->


   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>   
   <script src="js/jquery.flexslider.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/backstretch.js"></script> 
   <script src="js/waypoints.js"></script>  
   <script src="js/main.js"></script>

</body>

</html>
